body {
    background: url(image/background_5.jpg) no-repeat;
    background-size: cover;
    margin: 0px;
}

.backgroundImg {
    position: relative;
    margin: 0px;
    padding: 0px;
}

.photo{
    position: relative;
    top:0px;
    left: 0px;
    width: 100%;
    margin-bottom: -5px;

}

.text{
    position: absolute;
    font-size: larger;
    top:0;
    left:0;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0px;
    margin-left: 0px;
    color: rgb(5, 5, 5);
    background-color:rgba(247, 243, 243, 0.75);
    z-index: 13;
}

.text1{
    margin: 10px
}

.no_info{
    text-align: center;
    color: rgb(201, 41, 41);
}
.f1 {
    position: fixed;
    display: grid;
    /* justify-content:space-around; */
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: auto; */
    background-color: rgba(0, 0, 0, 0.3);
    /* height: 80px; */
    margin-top: 0px;
    width: 100%;
    z-index: 10;
}

#f2 {
    font-family: monospace;
    position: relative;
    /* left: 0px; */
    /* margin-left: 18px; */
    color: azure;
    font-size: 60px;
    color: rgb(199, 229, 243);
    text-align: right;
}



#f4{
    text-align: right;
}

.ClassCalendar {
    height: 200px;
    /* margin-left: 20px; */
    /* margin-bottom: 5px; */
    margin: 5px;
    margin-top: 10px;
    border-collapse: collapse;
    border-spacing: 0;
}

caption {
    color: aliceblue;
    background-color: rgb(130, 130, 130);
    font-size: xx-large;
    border: solid 1px black;
    text-align: center;
    /* letter-spacing: 4px; */
}

th,
td {
    position:relative;
    background-color: rgb(239, 228, 248);
    padding: 3px 8px;
    border: 1px solid black;
    font-size: 1.25rem;
    /* filter: brightness(107%); */
    /* cursor: pointer; */
    /* user-select: none; */
}

th {
    background-color: antiquewhite;
}

.td_full{
    border: solid rgb(7, 158, 20);
    cursor: pointer;
    user-select: none;
    background-color: white;
    text-align: center;
}

.td_full:hover{
    box-shadow: inset 0px 0px 2px 2px rgb(29, 105, 219);
}

.celebrate {
    color: rgb(196, 33, 33);
}

.date_no_empty:hover {
    box-shadow: inset 0px 0px 2px 2px rgb(29, 105, 219);
}
.date_no_empty{
    cursor: pointer;
    user-select: none;
    background-color: rgb(234, 216, 250);
    text-align: center;
    /* filter: brightness(100%); */
}

.wday {
    background-color: aqua;
}

span {
    font-family: Verdana;
    font-size: 40px;
    color: white;
}

.spanH,
.spanM,
.spanS {
    color: white;
}

#container {
    /* position: relative; */
    top: 100px;
    min-height: 600px;
    min-width: 800px;
    /* background-color: rgb(42, 126, 105); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#clock {
    /* width: 260px; */
    text-align: right;
    /* background-color: #d6e9c6; */
    /* border-style: solid; */
    border-color: #000;
    position: relative;
    /* top: -120px; */
    right: 19px;
    margin: auto;
    /* left: 70%; */
}

.current_date{
    color: #ddd;
    cursor: pointer;
    text-decoration:underline;
}

#inputYear {
    margin-top: 30px;
    text-align: center;
}

label {
    font-size: xx-large;
}
#f3 {
    position: relative;
    /* top: -76px; */
    margin: 0px;
    text-align: center;
    
    /* color: azure; */
    /* font-size: 30px; */
    /* height: 64px; */
}

#areaInput {
    position: relative;
    display: flex;
    justify-content:center;
    margin: 0px;
    height: 100%;
}

#inputka {
    position: relative;
    padding: 0;
    height: 96%;
    margin-top: 0px;
    text-align: center;
    background-color: #e8f3ce;
    color: #000;
    width: 270px;
    font-size: 500%;
    /* box-shadow: 0 0 10px 10px rgba(130, 130, 255, 0.9); */
}

#one {
    position: relative;
    top: 1px;
    left: 10px;
    width: 100px;
    height: 35px;
    font-size: 120%;
    margin-top: 20px
}

#allArea {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    padding-top: 90px;
    color: rgb(53, 53, 8);
    padding-bottom: 110px;
    /* justify-items: ; */
}

.table_style{
    /* box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.67); */
    box-shadow: 0 0 10px 10px rgba(130, 130, 255, 0.9);
}

.weather {
    position: fixed;
	bottom: 0px;
    display: flex;
    width: 100%;
    justify-content:center;
    /* width:max-content; */
    /* box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.77); */
    cursor: pointer;
}
/* .weather :hover{
    box-shadow: 0 0 10px 10px rgba(130, 130, 255, 0.9);
} */

.osnova{
    min-height: 100%;
}

#weather__city,
#weather__forecast,
#weather__discription {
    color: white;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: blue; */
}

#weather__city {
    padding-left: 10px;
}

#weather__icon {
    position: relative;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    /* height: 100px; */
}

button::-moz-focus-inner {
    padding: 0px;
    border: 0px;
}

#mess {
    position:fixed;
    padding-bottom: 0;
    /* transition: 2s all; */
    transition: width 2s;
    text-align: justify;
    color: black;
    border: rgb(87, 96, 226) solid 10px;
    border-style: double;
    background-color: rgb(250, 250, 246);
    word-wrap: break-word;
    font-size:1.25rem;
    /* font-weight: 300; */
    overflow: auto;
    z-index: 12;
    cursor:auto;
    user-select:text;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.9);
    /* display: none; */
}

.mess_comp{
    min-height: 15%;
    max-height: 97vh;
    min-width: 20%;
    max-width: 50vh;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}
.mess_tel{
    min-height: 15%;
    max-height: 97vh;
    min-width: 98%;
    max-width: 98vh;
}

#closer_point {
    position:absolute;
    font-size:xx-large;
    top: 0px;
    right: 0px;
    /* margin: 5px; */
    color: red;
    font-weight: 500;
    z-index: 12;
    cursor: pointer;
    user-select: none;
}
